<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="com.mobileframework" parallel="tests">
<parameter name="platform" value="Android"></parameter>	
	<test name="mobileframework">
		<packages>
			<package name="com.base" />
		</packages>
	</test>
</suite>